.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 30px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.fa-times:hover {
  width: 30px;
  border-radius: 5px;
  background-color: red;
}

.card {
  border-radius: 12px !important;
}
.card-header {
  border-radius: 10px !important;
  padding-bottom: 5px;
}

button {
  border-radius: 10px !important;
}

select {
  border-radius: 10px !important;
}

input {
  border-radius: 10px !important;
}

::-webkit-input-placeholder {
  text-align: right;
  color: #9933CC !important;
}

.find-bar {
  border: 2px solid #9933CC !important;
}

.sort{
  border: 2px solid #00C851 !important;
  width: 100px;
}

.sortOpt {
  border: 2px solid #00C851 !important;
}


.new-task {
  border: 2px solid;
}

.cell {
  margin-top: 8px;
}

.status {
  margin-top: 2px;
  width: 100px;
  padding: 5px;
}

.display {
  padding: 0;
  background-color: #2BBBAD;
  border-left: 2px #2BBBAD solid;
  border-right: 2px #2BBBAD solid;
}

.card-block-display {
  padding: 0;
  padding-top: 15px;
}

table {
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

thead {
 border-bottom: 3px #2BBBAD solid !important;
}