.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.fa-times:hover {
  width: 30px;
  border-radius: 5px;
  background-color: red;
}

.card {
  border-radius: 12px !important;
}
.card-header {
  border-radius: 10px !important;
  padding-bottom: 5px;
}

button {
  border-radius: 10px !important;
}

select {
  border-radius: 10px !important;
}
